<template>
  <el-container>
    <el-aside>
      <houses-search-form
          :is-loading="state.isLoading"
          @submit="search"
      />
    </el-aside>
    <el-container>
      <el-main>
        <el-table :data="houses" v-loading="state.isLoading" empty-text="No results were found">
          <el-table-column prop="name" label="Name" />
          <el-table-column prop="price" label="Price" />
          <el-table-column prop="bedrooms" label="Bedrooms" />
          <el-table-column prop="bathrooms" label="Bathrooms" />
          <el-table-column prop="storeys" label="Storeys" />
          <el-table-column prop="garages" label="Garages" />
        </el-table>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import HousesSearchForm from '@/components/HousesSearchForm';

export default {
  components: {
    HousesSearchForm,
  },
  data: () => ({
    houses: null,
    state: {
      isLoading: false,
    },
  }),
  methods: {
    async search(params) {
      if (this.state.isLoading) {
        return;
      }
      try {
        this.state.isLoading = true;
        const { data } = await this.axios.get('api/v1/houses/search', { params: params });
        this.houses = data.data;
      } catch (error) {
        this.$message.error('Something went wrong. Please, try again.');
      } finally {
        this.state.isLoading = false;
      }
    },
  }
}
</script>

<style lang="scss">
.el-container {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #eee;

  .el-form {
    padding-right: 10px;
    text-align: center;
  }

  .el-alert {
    margin-bottom: 10px;
  }
}
</style>