<template>
  <el-form ref="validationProvider" :model="form" :rules="$options.validation" @keyup.enter="submit">
    <el-form-item label="Name" size="mini">
      <el-input name="name" v-model="form.name" type="text" />
    </el-form-item>
    <el-form-item label="Price From" prop="price_from" size="mini">
      <el-input name="price_from" v-model.number="form.price_from" type="number" min="0" />
    </el-form-item>
    <el-form-item label="Price To" prop="price_to" size="mini">
      <el-input name="price_to" v-model.number="form.price_to" type="number" min="0" />
    </el-form-item>
    <el-form-item label="Bedrooms" prop="bedrooms" size="mini">
      <el-input name="bedrooms" v-model.number="form.bedrooms" type="number" min="0" />
    </el-form-item>
    <el-form-item label="Bathrooms" prop="bathrooms" size="mini">
      <el-input name="bathrooms" v-model.number="form.bathrooms" type="number" min="0" />
    </el-form-item>
    <el-form-item label="Storeys" prop="storeys" size="mini">
      <el-input name="storeys" v-model.number="form.storeys" type="number" min="0" />
    </el-form-item>
    <el-form-item label="Garages" prop="garages" size="mini">
      <el-input name="garages" v-model.number="form.garages" type="number" min="0" />
    </el-form-item>
    <el-form-item size="large">
      <el-button native-type="button" type="primary" icon="el-icon-search" :loading="isLoading" @click="submit">Search</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['submit'],
  data: () => ({
    form: {
      name: null,
      price_from: null,
      price_to: null,
      bedrooms: null,
      bathrooms: null,
      storeys: null,
      garages: null,
    },
  }),
  validation: {
    price_from: [
      { type: 'number', min: 0, max: 1000000, trigger: 'blur' },
    ],
    price_to: [
      { type: 'number', min: 0, max: 1000000, trigger: 'blur' },
    ],
    bedrooms: [
      { type: 'number', min: 0, max: 10, trigger: 'blur' },
    ],
    bathrooms: [
      { type: 'number', min: 0, max: 10, trigger: 'blur' },
    ],
    storeys: [
      { type: 'number', min: 0, max: 10, trigger: 'blur' },
    ],
    garages: [
      { type: 'number', min: 0, max: 10, trigger: 'blur' },
    ],
  },
  methods: {
    async submit() {
      const isValid = await this.$refs.validationProvider.validate();
      if (!isValid) return;
      const params = {};
      Object.keys(this.form).forEach(key => this.form[key] ? params[key] = this.form[key] : '');
      this.$emit('submit', params);
    },
  },
}
</script>